.treatment {
    margin-top: 50px;
}
.years {
    color: #642dff;
}
.card {
    margin: 15px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(255, 255, 255);
  }
 